/*COMIENZO DE CODIGO PARA VERSION CELULAR*/
@media (min-width: 320px) {
  .pie {
    display: -ms-grid;
    display: grid;
    background-color: #1a1a1f;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 250px 195px 195px 222.5px 172.5px 0px 250px 250px 0px 100px;
        grid-template-rows: 250px 195px 195px 222.5px 172.5px 0px 250px 250px 0px 100px;
    border: 1px solid black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        grid-template-areas: "cajauno cajauno" "cajados cajados" "cajatres cajatres" "cajacuatro cajacuatro" "cajacinco cajacinco" "cajaseis cajaseis" "cajasiete cajasiete" "cajaocho cajaocho" "cajanueve cajanueve" "cajadiez cajadiez";
  }
  .pie__caja {
    padding-top: 20px;
  }
  .pie__caja1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: cajauno;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pie__caja2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: cajados;
  }
  .pie__caja3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: cajatres;
  }
  .pie__caja4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: cajacuatro;
  }
  .pie__caja5 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: cajacinco;
  }
  .pie__caja6 {
    display: none;
  }
  .pie__caja7 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: cajasiete;
  }
  .pie__caja8 {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: cajaocho;
  }
  .pie__caja9 {
    display: none;
  }
  .pie__caja10 {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: cajadiez;
    padding: 20px;
  }
  .pietitulo {
    color: #6ac3dd;
    margin: 1rem;
    font-size: 17.5px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .pietexto {
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
  }
  .pie__menu--elemento {
    padding-top: 1rem;
    list-style: none;
    font-size: 14px;
  }
  .pie__a {
    text-decoration: none;
    color: white;
  }
}

/*COMIENZO DE CODIGO PARA VERSION TABLET*/
/*COMIENZO DE CODIGO PARA VERSION DESKTOP*/
@media (min-width: 1200px) {
  .pie {
    display: -ms-grid;
    display: grid;
    background-color: #1a1a1f;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 250px 250px 50px;
        grid-template-rows: 250px 250px 50px;
    border: 1px solid black;
    padding: 30px 50px;
    gap: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        grid-template-areas: "cajauno cajados cajatres cajacuatro cajacinco cajaseis" "cajasiete cajasiete cajaocho cajaocho cajanueve cajanueve" "cajadiez cajadiez cajadiez cajadiez cajadiez cajadiez";
  }
  .pie__caja {
    background-color: rgba(255, 255, 255, 0);
    padding-top: 20px;
  }
  .pie__caja1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: cajauno;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pie__caja2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: cajados;
  }
  .pie__caja3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: cajatres;
  }
  .pie__caja4 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: cajacuatro;
  }
  .pie__caja5 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: cajacinco;
  }
  .pie__caja6 {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-column: 6;
    grid-area: cajaseis;
  }
  .pie__caja7 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: cajasiete;
  }
  .pie__caja8 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: cajaocho;
  }
  .pie__caja9 {
    display: block;
    -ms-grid-row: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-area: cajanueve;
  }
  .pie__caja10 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: cajadiez;
  }
  .pietitulo {
    color: #6ac3dd;
    margin: 1rem;
    font-size: 17.5px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .pietexto {
    color: white;
    font-size: 17.5px;
    font-weight: 300;
    text-align: center;
  }
  .pie__menu--elemento {
    padding-top: 1rem;
    list-style: none;
  }
  .pie__a {
    text-decoration: none;
    color: white;
  }
}
/*# sourceMappingURL=footer.css.map */